extends ../layout

block content
	div(class='row')
		h1(class='header')= article.title
		p= 'Written by: ' + article.author
		if article.postDate
			p= 'Posted on: ' + article.postDate
		if article.url
			p= 'URL: ' + article.url
		p= article.body
