extends ../layout

block content
	div(class='row top')
		a.left-floater.add-button(href='#' class='button primary' data-toggle='offCanvas') #{header}
		a.right-floater.search-button(href='#' class='button primary' data-toggle='searchCanvas') Search
							
	div(class='off-canvas-wrapper')
		div(class='off-canvas position-right' id='offCanvas' data-off-canvas)
			div(class='row new-article')
				h4(class='header')= 'New Article'
				form(method='POST', action='/write/articles/add')
					#form-input-group
						div(class='input-group')
							span(class='input-group-label')
								i(class='fa fa-header')
							input.input-group-field(name='title', type='text' placeholder='Title' required)
					#form-input-group
						div(class='input-group')
							span(class='input-group-label')
								i(class='fa fa-user')
							input.input-group-field(name='author', type='text' placeholder='Author' required)
					#form-input-group
						div(class='input-group')
							span(class='input-group-label')
								i(class='fa fa-globe')
							input.input-group-field(name='url', type='text' placeholder='URL')
												
					#form-input-group
						div(class='input-group')
							span(class='input-group-label')
								i(class='fa fa-edit')
							textarea.input-group-field(name='body' placeholder='Body')
							
					input.button.primary(class='button primary' type='submit', value='Submit' required)
								
		button(class='close-button' aria-label='Close menu' type='button' data-close)
		div(class='off-canvas-content' data-off-canvas-content)
			
	div(class='off-canvas-wrapper')
		div(class='off-canvas position-left' id='searchCanvas' data-off-canvas)
			div(class='row search-article')
				h4(class='header')= 'Search Articles'
				form(method='POST', action='/read/articles/search')
					#form-input-group
						div.input-group
							span(class='input-group-label')
								i(class='fa fa-search')
							input.input-group-field(name='search', type='text' placeholder='Search' required)
																
					fieldset.fieldset
						legend(style='color:black;') Choose search type
						input(value='title', name='type', type='radio' checked)
						label(for='title' style='color:white;')= 'Search by title'						
						input(value='author', name='type', type='radio')
						label(for='author' style='color:white;')= 'Search by author'
									
								//- input(name='author', type='radio')= 'Search by author'
							
					input.button.primary(class='button primary' type='submit', value='Submit' required)
								
		button(class='close-button' aria-label='Close menu' type='button' data-close)
		div(class='off-canvas-content' data-off-canvas-content)
			
	div(class='row articles')
		div(class='v-scroll list')
			ul(class='accordion' data-accordion data-allow-all-closed='true')
				each article, i in articles
					li(class='accordion-item' data-accordion-item)
						a(href='#article.id' class='accordion-title title')= article.title
						div(id='article.id' class='accordion-content' data-tab-content)
							span(class='label')= 'Author: ' + article.author							
							p= article.body
							div(class='accordion-footer')
								a(href="/read/articles/article/" + article.id)= "View " + article.title
